# 1st Method

To make an equilateral traingle in python, we need to have three loops,
1. For maintaining rows
2. For maintaining spaces so it looks like an equilateral traingle
3. For maintaing columns and printing the required varaible

In [ ]:
#Pattern 1
rows=int(input('Number of rows:'))
k=rows
for i in range(rows+1): #outer loop for rows
  for y in range(k): #inner loop 1 for spaces 
    print(end=' ')
  k=k-1
  for y in range(i): #inner loop 2 for printing numbers
    print(y+1,end=' ') #here we increment the number
  print()

Number of rows:4

   1
  1 2
 1 2 3
1 2 3 4

In [ ]:
#Pattern 2
rows=int(input('Number of rows:'))
k=rows
for i in range(rows+1): #outer loop for rows
  for y in range(k): #inner loop 1 for spaces
    print(end=' ') 
  k=k-1
  for y in range(i): #inner loop 2 for printing numbers
    print(i,end=' ') #here we are just printing the number of rows
  print()

Number of rows:4

   1
  2 2
 3 3 3
4 4 4 4

In [ ]:
#Pattern 3
rows=int(input('Number of rows:'))
k=rows
for i in range(65, 65+rows): #outer loop for rows
  for y in range(k): #inner loop 1 for spaces
    print(end=' ')
  k=k-1
  for y in range(65, i+1): #inner loop 2 for printing numbers
    print(chr(y),end=' ') #here we are printing the  upper case letters using ascii values, incrementing in every row
  print()

Number of rows:3
   A
  A B
 A B C

In [ ]:
#Pattern 4
rows=int(input('Number of rows:'))
k=rows
for i in range(rows+1): #outer loop for rows
  for y in range(k): #inner loop 1 for spaces
    print(end=' ')
  k=k-1
  for y in range(i): #inner loop 2 for printing numbers
    print(chr(64+i),end=' ') #here we are printing the upper case letters using ascii values, incrementing once per row
  print()

Number of rows:6

     A
    B B
   C C C
  D D D D
 E E E E E
F F F F F F

In [ ]:
#Pattern 5
rows=int(input('Number of rows:'))
k=rows
for i in range(97, 97+rows): #outer loop for rows
  for y in range(k): #inner loop 1 for spaces
    print(end=' ')
  k=k-1
  for y in range(97, i+1): #inner loop 2 for printing numbers
    print(chr(y),end=' ') #here we are printing the lower case letters using ascii values, incrementing in every row
  print()

Number of rows:3
   a
  a b
 a b c

In [ ]:
#Pattern 6
rows=int(input('Number of rows:'))
k=rows
for i in range(rows+1): #outer loop for rows
  for y in range(k): #inner loop 1 for spaces
    print(end=' ')
  k=k-1 
  for y in range(i): #inner loop 2 for printing numbers
    print(chr(96+i),end=' ') #here we are printing the lower case letters using ascii values, incrementing once per row
  print()

Number of rows:5

    a
   b b
  c c c
 d d d d
e e e e e

In [ ]:
#Pattern 7
rows=int(input('Number of rows:'))
k=rows
for i in range(rows+1): #outer loop for rows
  for y in range(k): #inner loop 1 for spaces
    print(end=' ')
  k=k-1
  for y in range(i): #inner loop 2 for printing numbers
    print('*',end=' ') #here we are printing asterisk 
  print()

Number of rows:5

    *
   * *
  * * *
 * * * *
* * * * *

#2nd Method

Here, instead of two loops we are using only one loop. But there are some patterns we can't create using this method.
We have used i as the loop variable and decremented k inside the loop.

In [ ]:
#Pattern 2(b)
k=int(input('Number of rows:'))
for i in range(k+1):
    print(' '*k, end='') # repeat space for n times
    print((str(i)+' ')*(i)) # repeats the i for i times
    #print('')
    k-=1

Number of rows:4

   1
  2 2
 3 3 3
4 4 4 4

In [ ]:
#Pattern 4(b)
k=int(input('Number of rows:'))
for i in range(k+1):
    print(' '*k, end='') # repeat space for n times
    print((chr(64+i)+' ')*(i)) # repeats the alphabet we got from ascii value for i times
    #print('')
    k-=1

Number of rows:4

   A
  B B
 C C C
D D D D

In [ ]:
#Pattern 6(b)
k=int(input('Number of rows:'))
for i in range(k+1):
    print(' '*k, end='') # repeat space for n times
    print((chr(96+i)+' ')*(i)) # repeats the alphabet we got from ascii value for i times
    #print('')
    k-=1

Number of rows:4

   a
  b b
 c c c
d d d d

In [ ]:
#Pattern 8
k=int(input('Number of rows:'))
for i in range(k+1):
    print(' '*k, end='') # repeat space for n times
    print('@ '*(i)) # repeat @ for i times
    k-=1

Number of rows:4

   @
  @ @
 @ @ @
@ @ @ @